@model webislamdash.Models.QuranPage
@using Microsoft.AspNetCore.Identity
@inject SignInManager<IdentityUser> SignInManager

<div style="position: relative;">
    @if (SignInManager.IsSignedIn(User))
    {
        <button id="bookmark-button" class="bookmark-button" onclick="toggleBookmark(@Model.Number)">Bookmark</button>
    }
    else
    {
    }

    @foreach (var ayah in Model.Ayahs)
    {
        <div>
            <h3>Ayah @ayah.Number</h3>
            <p>@ayah.Text</p>
            <p>Surah: @ayah.Surah.EnglishNameTranslation - @ayah.Surah.Name (@ayah.Surah.Number)</p>
        </div>
    }
</div>
