@model webislamdash.Models.Prayer

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Prayer</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.PrayerName)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.PrayerName)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.PrayerTime)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.PrayerTime)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.PrayerDate)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.PrayerDate)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.PrayerLocation)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.PrayerLocation)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.PrayerId">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
